@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC ASP.NET CRUD Application</h1>
    <p class="lead">This is example of ASP.NET MVC CRUD application. You can Create new student, View/Read student data, Update student information and Delete student.</p>
    <p class="lead">Created By Sameer Khowaja.</p>
</div>
